{% extends "QRHome/base.html" %}
{% load static %}
{% block title %} Login {% endblock %}
{% block stylesheet %}
{{ block.super }}
{% endblock %}
{% block header_scripts %}
{{ block.super }}
<script src="{% static 'QRHome/login.js' %}"></script>
<script src="{% static 'QRHome/instascan.min.js' %}"></script>

{% endblock %}
{% block body %}
{{ block.super }}
<div class="container">
    <h1 class="text-center">Login</h1>
    <video class="scanner" id="preview"></video>


    <form class="login" action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endblock %}
